<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<th:block th:fragment="order_links">
    <th:block>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0 mt-0"
           th:if="${sort != null && !sort_type.equals('default')}"
           th:href="@{/order/sort/add(isbn=*{isbn},type=${type},option=${option},status=${status},search=${search},sort_type=${sort_type},page=${current_page})}">
            zamów
        </a>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0"
           th:if="${sort != null && sort_type.equals('default')}"
           th:href="@{/order/sort/add(isbn=*{isbn},type=${type},option=${option},status=${status},page=${current_page})}">
            zamów
        </a>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0"
           th:if="${search != null && sort_type.equals('default')}"
           th:href="@{/order/search/add(isbn=*{isbn},value=${value},category=${category},status=${status},page=${current_page})}">
            zamów
        </a>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0"
           th:if="${sort == null && search == null}"
           th:href="@{/order/add(isbn=*{isbn},entity_type=${entity_type},status=${status},page=${current_page})}">
            zamów
        </a>
    </th:block>
</th:block>

<th:block th:fragment="entity_order_links">
    <th:block>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0"
           th:if="${sort != null && !sort_type.equals('default')}"
           th:href="@{/order/sort/add(isbn=*{isbn},entity_id=${entity_id},entity_name=${entity_url},type=${type},option=${option},status=${status},search=${search},sort_type=${sort_type},page=${current_page})}">
            zamów
        </a>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0"
           th:if="${sort != null && sort_type.equals('default')}"
           th:href="@{/order/sort/add(isbn=*{isbn},entity_id=${entity_id},entity_name=${entity_url},type=${type},option=${option},status=${status},page=${current_page})}">
            zamów
        </a>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0"
           th:if="${search != null && sort_type.equals('default')}"
           th:href="@{/order/search/add(isbn=*{isbn},entity_id=${entity_id},entity_name=${entity_url},value=${value},category=${category},status=${status},page=${current_page})}">
            zamów
        </a>
        <a class="btn btn-sm btn-success btn-block mb-1 mt-0" th:if="${sort == null && search == null}"
           th:href="@{/order/add(isbn=*{isbn},entity_type=${entity_type},entity_id=${entity_id},entity_url=${entity_url},status=${status},page=${current_page})}">
            zamów
        </a>
    </th:block>
</th:block>
</body>
</html>