.panel-jumbo {
    background: url('../images/books2.jpg');
}

body {
    background-color: ghostwhite;
}

textarea {
    resize: none;
}

.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 0;
    top: 66px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 130px;
}

.list {
    list-style: none;
}

.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}

.list > a, h5, p, strong {
    padding: 5px 0px 5px 5px;
    color: #111111;
}

.list > a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
}

