<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>

<th:block th:insert="fragments/generals.html :: header"></th:block>
<th:block th:insert="fragments/generals.html :: navbar"></th:block>


<div class="container-fluid">
    <h5 class="text-center mt-3" th:if="${message}" th:text="${message.getContent()}"></h5>
    <p class="text-center alert alert-danger" th:if="${exception != null}" th:text="${exception}"></p>
    <div class="row" th:if="${book != null}" th:object="${book}">
        <div class="col-4 ml-2 mt-3">
            <img src="#" class="float-left" th:src="*{imageUrl}" style="height: 510px" alt="book cover">
        </div>
        <div class="card col-6 card ml-1 mt-3 shadow p-3 mb-3">
            <div class="card-body">
                <h4 class="card-title font-weight-bold">Informacje o książce</h4>
                <div class="card-text">
                    <h5 th:text="|Tytuł: *{title}|">Tytuł</h5>
                    <p th:text="|ocena użytkownków: ${rating}|"></p>
                    <p th:text="|Opis: *{description}|">Opis</p>
                    <h5 th:text="|Autor: *{author.firstName} *{author.lastName}|">Autor</h5>
                    <p th:text="*{author.shortBio}"></p>
                    <h5 th:text="|Wydawca *{publisher.publisherName}|">Wydawca</h5>
                    <p th:text="|strona internetowa: *{publisher.wwwPage}|">Szczegóły</p>
                    <p th:text="|email: *{publisher.publisherInfo.email}|">Szczegóły</p>
                    <p th:text="|telefon: *{publisher.publisherInfo.telephone}|">Szczegóły</p>
                    <p th:text="|Adres: *{publisher.address.city}, *{publisher.address.street}, *{publisher.address.zip}|">
                        Szczegóły</p>
                    <div class="row">
                        <a class="btn btn-sm btn-primary mr-1"
                           th:href="@{/order/add(isbn=*{isbn},entity_type=${T(com.bookstore.util.Type).TYPE_BOOK},page=1)}">
                            Dodaj do zamówienia
                        </a>
                        <a class="btn btn-sm btn-success mr-1" sec:authorize="isAnonymous()"
                           th:href="@{/client/favorites/add(isbn=*{isbn},entity_type=${T(com.bookstore.util.Type).TYPE_BOOK})}">
                            Dodaj do ulubionych
                        </a>
                        <th:block sec:authorize="isAuthenticated()">
                            <a class="btn btn-sm btn-warning mr-1" th:each="favorite: ${favorites}"
                               th:if="${book.isbn == favorite.book.isbn && #authentication.name.equals(favorite.client.userName)}"
                               th:href="@{/client/favorites/remove(isbn=*{isbn},entity_type=${T(com.bookstore.util.Type).TYPE_BOOK})}">
                                Usuń z ulubionych
                            </a>
                            <a class="btn btn-sm btn-success mr-1"
                               th:if="${!favorites_isbn.contains(book.isbn) && !favorites_isbn.isEmpty()}"
                               th:href="@{/client/favorites/add(isbn=*{isbn},entity_type=${T(com.bookstore.util.Type).TYPE_BOOK})}">
                                Dodaj do ulubionych
                            </a>
                            <a class="btn btn-sm btn-success mr-1"
                               th:if="${favorites_isbn.isEmpty()}"
                               th:href="@{/client/favorites/add(isbn=*{isbn},entity_type=${T(com.bookstore.util.Type).TYPE_BOOK})}">
                                Dodaj do ulubionych
                            </a>
                        </th:block>
                        <form class="form-inline" th:action="@{/books/rating}" method="get">
                            <input type="hidden" name="isbn" th:value="*{isbn}">
                            <select class="custom-select custom-select-sm" name="rating">
                                <option selected>Oceń książke</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button class="btn btn-sm btn-info" type="submit">Oceń</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 mx-auto mb-5" th:if="${book != null}">
        <div class="col-6">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class=" nav-item">
                    <a class="nav-link active" href="#add" data-toggle="tab">Dodaj komentarz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#display" data-toggle="tab">Komentarze</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="add">
                <div class="col-6 mb-1">
                    <form th:action="@{/books/comments}" method="post">
                        <label for="comment">Twój komentarz</label>
                        <button class="btn btn-sm btn-primary" sec:authorize="isAuthenticated()" type="submit">dodaj</button>
                        <textarea name="comment" rows="3" cols="70" id="comment"
                                  placeholder="Twój komentarz"></textarea>
                        <input type="hidden" name="isbn" th:value="${book.isbn}">
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="display">
                <div class="col-12 mb-2 border border-dark p-3" th:each="comm : ${comments}" th:object="${comm}">
                    <div class="media col-6">
                        <div class="media-body">
                            <h4 th:text="*{client.userName}"></h4>
                            <small><i th:text="|dodano: ${#temporals.createToday()}|"></i></small>
                            <p th:text="*{clientComment}"></p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="fragments/generals.html :: footer"></th:block>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>