<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h2>Error Page</h2>
<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
<br>
<b>Response Status:</b> <span th:text="${status}">status-code</span>
<span th:text="|(${error})|">error ...</span>
<br>
<a class="btn btn-sm btn-primary" th:href="@{/}">home page</a>
</body>
</html>