<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<th:block th:insert="fragments/generals.html :: header"></th:block>
<th:block th:insert="fragments/generals.html :: navbar"></th:block>

<div class="container-fluid" style="padding-left: 10%">
    <div class="col-6 offset-3 mt-4" th:if="${update == null}">
        <h5>Dane karty kredytowej</h5>
        <form action="#" th:action="@{/register/payment}" method="post" th:object="${card}">
            <div class="form-row">
                <div class="col-md-8 mb-4">
                    <label for="validationName">Imię i nazwisko właściciela</label>
                    <input th:field="*{ownerName}" type="text" class="form-control"
                           id="validationName"
                           placeholder="właściciel" required>
                    <p th:errors="*{ownerName}"></p>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-4">
                    <label for="validationNumber">Numer karty</label>
                    <input th:field="*{creditCardNumber}" type="text" class="form-control" id="validationNumber"
                           placeholder="numer karty" maxlength="16" required>
                    <p th:errors="*{creditCardNumber}"></p>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="validationExpDate">Data ważności</label>
                    <input th:field="*{expireDate}" type="text" class="form-control"
                           id="validationExpDate"
                           placeholder="MM-YYYY" maxlength="7" required>
                    <p th:errors="*{expireDate}"></p>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="validationCvv">Numer cvv</label>
                    <input th:field="*{cvvNumber}" type="text" class="form-control" id="validationCvv"
                           placeholder="ccv" maxlength="3" required>
                    <p th:errors="*{cvvNumber}"></p>
                </div>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Potwierdź</button>
        </form>
    </div>
    <div class="col-6 offset-3 mt-4" th:if="${update != null}">
        <h5>Dane karty kredytowej</h5>
        <form action="#" th:action="@{/payment/update}" method="post" th:object="${card}">
            <div class="form-row">
                <div class="col-md-8 mb-4">
                    <label for="validationNameUpdate">Imię i nazwisko właściciela</label>
                    <input th:field="${card.ownerName}" type="text" class="form-control"
                           id="validationNameUpdate"
                           placeholder="imię i nazwisko właściciela" required>
                    <p th:errors="${card.ownerName}"></p>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 mb-4">
                    <label for="validationNumberUpdate">Numer karty</label>
                    <input th:field="${card.creditCardNumber}" type="text" class="form-control"
                           id="validationNumberUpdate"
                           placeholder="numer karty" maxlength="16" required>
                    <p th:errors="${card.creditCardNumber}"></p>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="validationExpDateUpdate">Data ważności</label>
                    <input th:field="${card.expireDate}" type="text" class="form-control" id="validationExpDateUpdate"
                           placeholder="MM-YYYY" maxlength="7" required>
                    <p th:errors="${card.expireDate}"></p>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="validationCvvUpdate">Numer cvv</label>
                    <input th:field="${card.cvvNumber}" type="text" class="form-control" id="validationCvvUpdate"
                           placeholder="cvv" maxlength="3" required>
                    <p th:errors="${card.cvvNumber}"></p>
                </div>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Potwierdź</button>
        </form>
    </div>
</div>

<th:block th:insert="fragments/generals.html :: footer"></th:block>
</body>
</html>